

// *--------------------------*
// Variables
// *--------------------------*

// Layout
$max-width: 85.4989378333em;
$section-margin: 7rem;
$section-padding: 7rem;

// Styles
$black: #231F20;
$green: #006738;
$gold: #C0AF00;

$gray: #D3D3D3;

$border-radius: 5px;

