

.hero{
    min-height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero-inner{
    max-width: $max-width;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
}

.hero-inner img{
    width: 85%;
}

.hero-heading,
.hero-image{
    width: 50%;
    margin-right: 25px;
    margin-left: 25px;
}